<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>测试 Converter</h1>
    <hr>
    <br>
    <h3>EmployeeConverter</h3>
    <form action="/bootmvcannotation/converter1" method="POST">
    <!-- lastname-email-gender-department.id 例如: GG-gg@atguigu.com-0-105 -->
    Employee: <input type="text" name="employee"/>
    <input type="submit" value="Submit"/>
    </form>

    <hr>
    <br>
    <h3>StringToDateConverter</h3>
        <form action="/bootmvcannotation/converter2" method="">
            <!-- lastname-email-gender-department.id 例如: GG-gg@atguigu.com-0-105 -->
            StringDate: <input type="text" name="stringDate"/>
            <input type="submit" value="Submit"/>
            </form>

</body>
</html>