<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h1>boot mvc</h1>
        <hr>
        <br>
        <h3>测试 @pathVariable</h3>
        <a href="/bootmvc/pathVariablePage">pathVariablePage</a>
        <hr>
        <br>
        <h3>测试 @RequestParam</h3>
        <a href="/bootmvc/requestParamPage">requestParamPage</a>
        <hr>
        <br>
        <h3>测试 @CookieValuePage</h3>
        <a href="/bootmvc/cookieValuePage">cookieValuePage</a>
        <hr>
        <br>
        <h3>测试 @RequestHeader</h3>
        <a href="/bootmvc/requestHeaderPage">requestHeaderPage</a>
        <hr>
        <br>
        <h3>测试 @RequestBody</h3>
        <a href="/bootmvc/requestBodyPage">requestBodyPage</a>



</body>
</html>